html, body {
	font-size: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #F5F8FA;
}

#home {
	height: 100vh;
	background: url('../images/login-bg.jpg') center no-repeat;
	color: #fff;
}

/* Centered Element */
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-child {
	margin: auto;
}
/* End Centered Element */

.home-img {
	cursor: pointer;
}

/* home Menu */
.home-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.home-menu li {
	display: inline;
	margin: 0 5px;
	text-align: center;
}

.home-menu li a {
	text-decoration: none;
	display: inline-block;
	height: 30px;
	width: 30px;
	padding-top: 5px;
	color: #fff;
	background: rgba(255, 255, 255, .5);
	border-radius: 50%;
}

.home-menu li a:hover {
	color: #000;
}