* {
	padding: 0;
	margin: 0;
}

html, body {
	background: #FAFBFC;
}

.wrapper {
	padding: 0;
	margin: 0;
}

.wrapper .row{
	margin: 0;
	padding: 0;
}

.no-mar-pad {
	margin: 0;
	padding: 0;
}
/* Sidebar */
.sidebar {
	height: 100vh;
	background: #2E3D49;
	z-index: 2;
}

.sidebar > header, .content > header {
	height: 50px;
	padding-left: 15px;
}

.sidebar > header {
	background: #1C262F;
	font-size: 15pt;
	color: #FFFFFF;
}

.content > header {
	background: #FFFFFF;
	box-shadow: 0 0 4px #ccc;
	font-size: 15px;
}

.sidebar-menu {
	margin: 15px;
	list-style: none;
}

.sidebar-menu li {
	line-height: 50px;
	font-size: 12px;
}

.sidebar-menu li a {
	text-decoration: none;
	color: #afafaf;
	font-weight: bold;
	display: block;
}

.sidebar-menu li a:hover {
	color: #ffffff;
}

.sidebar-menu li a i {
	width: 30px;
	margin-right: 5px;
	vertical-align: middle;
}
/* Content */
.content {
	z-index: 1;
	margin-bottom: 15px;
}

.content .row .box {
	background: #FFFFFF;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin-top: 15px;
}

.box {
	border: 1px solid #efefef;
}

.page-header {
	margin: 12px auto;
}
.page-header h4 {
	margin: 0;
}

/* Others */
.v-middle {
	display: flex;
	align-items: center;
}

.no-padding {
	padding: 0;
}