html, body {
	font-size: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #F5F8FA;
}

#sidebar {
	height: 100vh;
	background: url('../images/iceland.jpg') center no-repeat;
	position: fixed;
	color: #fff;
}

/* Centered Element */
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-child {
	margin: auto;
}
/* End Centered Element */

.sidebar-img {
	cursor: pointer;
}

/* Sidebar Menu */
.sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-menu li {
	display: inline;
	margin: 0 2px;
	text-align: center;
}

.sidebar-menu li a {
	text-decoration: none;
	display: inline-block;
	padding: 5px 15px;
	color: #fff;
}

.sidebar-menu li a:hover {
	color: #3097D1;
}

/* Content */

/* Tab Panel */
.tab-panel {
	list-style: none;
	margin-top: 15px;
	padding: 0;
	margin-bottom: 15px;
}

.tab-panel li {
	position: relative;
	display: inline-block;
	margin-right: 7px;
	cursor: pointer;
	color: rgba(255, 255, 255, .8);
	padding: 5px 10px;
	background: #3097D1;
}

.tab-panel li:hover {
	color: #fff;
}

.tab-panel li:after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	margin: auto;
	border: 0 solid;
	border-color: #3097D1 transparent transparent transparent;
	position: absolute;
	bottom: -10px;
}
.tab-panel li.active:after {
	border-width: 5px;
}
/*.tab-panel li:hover, .tab-panel li.active {
	border-bottom: 2px solid #2FA19A;
	color: #000
}*/

.tab-content .box-content {
	display: none;
}

/* Default showing */
.tab-content div:first-child {
	display: block;
}

#posts section {
	padding: 15px;
	background-color: #fff;
	margin: 10px 0;
	border-bottom: 2px solid #d3e0e9;
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	color: #1e3948;
}

#posts section header a {
	display: block;
	color: #1e3948;
	font-weight: bold;
	font-size: 13pt;
	margin-bottom: 5px;
	text-decoration: none;
}

#posts section header a:hover {
	color: #000;
}

#posts section p {
	font-size: 11pt;
}

#posts section p.post-foot {
	font-size: 10pt;
	color: #999;
	clear: both;
	margin: 0;
}

.img-post {
	margin: 0 8px 8px 0;
}

.post {
	display: table !important;
}
.post-author {
	display: table-cell;
	width: 60px;
	padding-right: 15px;
}
.post-content {
	vertical-align: top;
	display: table-cell;
}

/* Search */
.search-form {
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	background: #3097D1;
}
.search-form form {
	margin: 15px;
}

.search-group > * {
	border-radius: 0;
	border: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.search-form {
	display: none;
}

.search {
	float: right;
	border: none !important;
	background: none !important;
	color: #ccc !important;
}

a, a:hover {
	color: #3097D1;
}

/* Categories */

#categories {
	padding: 0;
}

.category {
	margin: 5% 0;
	padding: 15px;
	min-height: 150px;
	position: relative;
	overflow: hidden;
	background: #000;
	color: #fff;
}

.category h3 {
	margin: 0;
}
.category p, .category h3 {
	z-index: 2;
	position: relative;
}

.cat-img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: .6;
}

.category:hover > .cat-img {
	opacity: .8;
}

a.cat-link {
	text-decoration: none;
}

/* Site Content */

.site-content {
	margin: 10px;
}

.contact-form label {
	color: #3097D1;
}

.contact-form input, .contact-form textarea {
	border-radius: 0;
	border: 1px solid #3097D1;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

footer {
	margin-top: 20px;
	color: #666;
	font-size: 10pt;
}

.totop-btn {
	position: fixed;
	bottom: 15px;
	right: 15px;
	padding: 10px;
	cursor: pointer;
	color: #3097D1;
	opacity: 0.4;
}

.totop-btn:hover {
	opacity: 1;
}

/* Responsive */

@media screen and (max-width: 991px) {
	#sidebar {
		position: relative;
	}
	#content {
		float: none;
		width: 100%;
	}
}
