@font-face {
    font-family: "SourceSansPro-Light";
    src: url(../fonts/SourceSansPro-Light.otf);
}

body {
	background: url(../images/login-bg.jpg);
	background-size: cover;
}

.panel {
	margin-top: 50px;
	background: #EEEEEE;
}

.panel-heading {
	padding: 20px;
	background: #FFFFFF !important;
	font-size: 25px;
	color: #333;
	font-family: SourceSansPro-Light;
}