/* Font Colors */
$base-font-size: 15px;
$base-font-family: "Segoe UI", "Segoe WP", "Segoe Relugar", sans-serif;
$base-font-color: #666666;
/* Background Colors */
$primary-color: #00aff0;
$secondary-color: #7fba00;
$light-color: #fafafa;
$light-color-gray: #efefef;
$dark-color: #333333;
